<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="Mail_SMTPHost" value=""/>
    <add key="Mail_ReplyTo" value=""/>
    <add key="Mail_From" value=""/>
    <add key="Mail_User" value=""/>
    <add key="Mail_PW" value=""/>
    <add key="DSAPlanerURL" value="https://localhost:23456/DSAPlaner_Test/"/>
    <!-- DB_GetDate should be configured datetime('now') for SQLite and getdate() for MSSQL and VistaDb -->
    <add key="DB_GetDate" value="datetime('now')"/>
  </appSettings>
  <connectionStrings>
    <add name="DSAPlanerConnectionString" connectionString="data source='|DataDirectory|\dbdsa.db'" providerName="System.Data.SQLite"/>
   </connectionStrings>
</configuration>