<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
		</DbProviderFactories>
	</system.data>
	<appSettings>
		<add key="Mail_SMTPHost" value=""/>
		<add key="Mail_ReplyTo" value=""/>
		<add key="Mail_From" value=""/>
		<add key="Mail_User" value=""/>
		<add key="Mail_PW" value=""/>
		<add key="DSAPlanerURL" value="http://localhost:23456/DSAPlaner/"/>
		<add key="Sys_GroupID_Adventures" value="5"/>
		<add key="Sys_GroupID_Meetings" value="0"/>
		<add key="Sys_AdventureID_Default" value="0"/>
		<add key="URL_SecurePort" value="443"/>
		<add key="URL_RequireSSL" value="false"/>
		<!-- DB_GetDate should be configured datetime('now') for SQLite and getdate() for MSSQL and VistaDb -->
		<add key="DB_GetDate" value="datetime('now')"/>
	</appSettings>
	<connectionStrings>
		<add name="DSAPlanerConnectionString" connectionString="data source=|DataDirectory|\dbdsa.db" providerName="System.Data.SQLite"/>
	</connectionStrings>
	<system.web>
		<globalization culture="de-DE" uiCulture="de"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" timeout="518400"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="no" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<location path="PasswordRecovery.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
